.vscode/
build/obj/core/*.o
build/obj/http/*.o
build/debug/debug.log
build/bin/webserv.exe
config/*.cfg
config/*.types
.idea/
.DS_Store
CMakeLists.txt
/Users/mannouao/Desktop/WebServ/www/cookie/__pycache__/