/*--------------------------------------------------------------------- File Name: responsive.css ---------------------------------------------------------------------*/


/*------------------------------------------------------------------- 991px x 768px ---------------------------------------------------------------------*/

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .header-search {
        padding: 15px 0px;
    }
}


/*------------------------------------------------------------------- 767px x 599px ---------------------------------------------------------------------*/

@media only screen and (min-width: 599px) and (max-width: 767px) {
    .logo {
        text-align: center;
    }
    .cart-content-right {
        padding-bottom: 5px;
    }
    .mg {
        margin: 0px 0px;
    }
    .menu-area-main {
        height: 256px;
        overflow-y: auto;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        height: 19px;
    }
    .category-box.women-box {
        display: none;
    }
    .cart-box {
        display: inline-block;
        margin: 0px 30px;
    }
    .wish-box {
        float: none;
        margin: 0px 30px;
        display: inline-block;
    }
    .menu-add {
        display: none;
    }
    .category-box {
        display: none;
    }
    .mean-container .mean-nav ul li ol {
        padding: 0px;
    }
    .mean-container .mean-nav ul li a {
        padding: 10px 20px;
        width: 94.8%;
    }
    .mean-container .mean-nav ul li li a {
        width: 92%;
        padding: 1em 4%;
    }
    .mean-container .mean-nav ul li li li a {
        width: 100%;
    }
    .header-search {
        padding: 15px 0px;
    }
    #collapseFilter.d-md-block {
        padding: 30px 0px;
    }
}


/*------------------------------------------------------------------- 599px x 280px ---------------------------------------------------------------------*/

@media only screen and (min-width: 280px) and (max-width: 599px) {
    .cart-content-right {
        padding-bottom: 5px;
    }
    .megamenu>.row [class*="col-"] {
        padding: 0px;
    }
    .menu-area-main .megamenu .men-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .women-cat {
        padding: 0px 15px;
    }
    .menu-area-main .megamenu .el-cat {
        padding: 0px 15px;
    }
    .mean-container .mean-nav ul li a {
        padding: 1em 4%;
        width: 92%;
    }
    .mean-container .mean-nav ul li li a {
        width: 90%;
        padding: 1em 5%;
    }
    .mean-container .sub-full.megamenu-categories ol li a {
        padding: 5px 0px;
        text-transform: capitalize;
        width: 100%;
    }
    .megamenu .sub-full.megamenu-categories .women-box .banner-up-text a {
        width: auto;
        border: none;
        float: none;
    }
    .menu-area-main {
        height: 45px;
        overflow-y: auto;
    }
    .mean-container .mean-nav ul li a.mean-expand {
        top: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .banner_taital {
        width: 100%;
        font-size: 50px;
    }
    a.navbar-brand {
        width: 14%;
        padding-right: 20px;
    }
    .banner_taital_main {
        padding-left: 40px;
    }
    #main_slider a.carousel-control-prev {
        left: 40px;
        top: 320px;
    }
    #main_slider a.carousel-control-next {
        right: 40px;
        top: 320px;
    }
    .hover01 figure img {
        min-height: 300px;
    }
    .enim_text {
        margin: 0px;
    }
    #custom_slider a.carousel-control-next {
        top: 400px;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 3px 5px;
        margin: 0px 3px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 130px;
        margin: 0 auto;
        text-align: center;
    }
    .box_section {
        width: 100%;
    }
    .online_box_left {
        padding: 30px 10px;
    }
    .banner_taital_main {
        padding-left: 20px;
    }
    .banner_taital {
        width: 100%;
        font-size: 40px;
    }
    .readmore_btn {
        width: 159px;
    }
    .started_bt {
        width: 159px;
    }
    .corporate_text {
        font-size: 18px;
    }
    p.chunks_text {
        width: 100%;
    }
    #main_slider a.carousel-control-prev {
        left: 0;
        top: 130px;
    }
    #main_slider a.carousel-control-next {
        right: 0;
        top: 130px;
    }
    #main_slider .carousel-control-next,
    #main_slider .carousel-control-prev {
        width: 35px;
        height: 35px;
        font-size: 13px;
    }
    .introduction_text {
        font-size: 16px;
    }
    .hover01 figure img {
        min-height: 220px;
    }
    .box_main {
        padding: 0;
    }
    .enim_text {
        font-size: 14px;
        margin: 0px 0px 0px 0px;
    }
    .customer_right {
        margin-top: 10px;
    }
    #my_slider a.carousel-control-prev {
        left: 0;
        top: 220px;
    }
    #my_slider a.carousel-control-next {
        right: 0;
        top: 220px;
    }
    #custom_slider a.carousel-control-next {
        top: 280px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    #banner_slider a.carousel-control-prev {
        display: none;
    }
    #banner_slider a.carousel-control-next {
        display: none;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 130px;
        margin: 0 auto;
        text-align: center;
    }
    .online_box {
        width: 100%;
        display: block;
    }
    a.navbar-brand {
        width: auto;
    }
    .header_section {
        background: #001431;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar {
        padding: 15px 0px;
    }
    .banner_section {
        padding: 30px 0px 100px 0px;
    }
    .banner_taital_main {
        padding-left: 0px;
    }
    .banner_taital {
        width: 100%;
        font-size: 34px;
    }
    .readmore_btn {
        width: 137px;
    }
    .started_bt {
        width: 137px;
    }
    .banner_img {
        width: 100%;
        margin-top: 30px;
    }
    .online_box_left {
        margin: 10px 0px;
    }
    .studies_taital {
        font-size: 25px;
    }
    img.image_1 {
        margin-top: 20px;
    }
    .about_text_main {
        padding: 0px;
    }
    .about_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .customer_taital {
        font-size: 25px;
    }
    .box_main {
        padding: 0px 0px 0px 0px;
    }
    .customer_left {
        width: 100%;
    }
    .customer_right {
        width: 100%;
        margin-top: 0px;
    }
    .does_taital {
        font-size: 24px;
    }
    #custom_slider a.carousel-control-next {
        top: 205px;
    }
    .dummy_text {
        font-size: 14px;
    }
    .contact_taital {
        font-size: 28px;
    }
    .contact_section_2 {
        width: 100%;
    }
    #my_slider a.carousel-control-prev {
        left: 0;
    }
    #my_slider a.carousel-control-next {
        right: 0;
    }
    .location_text li a {
        margin: 0px 14px;
    }
    figure img {
        width: 100%;
    }
}

@media (max-width: 575px) {
    #banner_slider a.carousel-control-prev {
        display: none;
    }
    #banner_slider a.carousel-control-next {
        display: none;
    }
    #main_slider a.carousel-control-prev {
        position: absolute;
        left: 175px;
        top: 90%;
        display: none;
    }
    #main_slider a.carousel-control-next {
        position: absolute;
        left: 236px;
        top: 90%;
        display: none;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
        width: 130px;
        margin: 0 auto;
        text-align: center;
    }
    .online_box {
        width: 100%;
        display: block;
    }
    a.navbar-brand {
        width: auto;
    }
    .header_section {
        background: #001431;
    }
    .navbar-toggler {
        background-color: #fff;
        border: 1px solid #fff;
    }
    .navbar {
        padding: 15px 0px;
    }
    .banner_section {
        padding: 30px 0px 100px 0px;
    }
    .banner_taital_main {
        padding-left: 0px;
    }
    .banner_taital {
        width: 100%;
        font-size: 34px;
    }
    .readmore_btn {
        width: 137px;
    }
    .started_bt {
        width: 137px;
    }
    .banner_img {
        width: 100%;
        margin-top: 30px;
    }
    .online_box_left {
        margin: 10px 0px;
    }
    .studies_taital {
        font-size: 25px;
    }
    img.image_1 {
        margin-top: 20px;
    }
    .about_text_main {
        padding: 0px;
    }
    .about_section .row {
        display: flex;
        flex-direction: column-reverse;
    }
    .customer_taital {
        font-size: 25px;
    }
    .box_main {
        padding: 0px 0px 0px 0px;
    }
    .customer_left {
        width: 100%;
    }
    .customer_right {
        width: 100%;
        margin-top: 0px;
    }
    .does_taital {
        font-size: 24px;
    }
    #custom_slider a.carousel-control-next {
        top: 105px;
    }
    .dummy_text {
        font-size: 14px;
    }
    .contact_taital {
        font-size: 28px;
    }
    .contact_section_2 {
        width: 100%;
    }
    #my_slider a.carousel-control-prev {
        left: 0;
    }
    #my_slider a.carousel-control-next {
        right: 0;
    }
    .location_text li a {
        margin: 0px 14px;
    }
    figure img {
        width: 100%;
    }
}